body{
    background-color: #201d30;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px
    
}

p{
color: rgb(255,255,255);
}

h1{
    text-align:center;
    color: #995CD0;
    font-family: Arial, Helvetica, sans-serif;  
}
h2{
    text-align: left;
    color: #8EDF5F;
    font-family: 'Times New Roman', Times, serif;
}
.Project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    display: block;
    margin: auto;
    
}
.Project {
    width: 25%;
    margin: 15px;
    padding: 20px 10px;
    background: #EC7744;
    border-radius: 15%;
    text-wrap:wrap;
}

.Affinity img {
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    display: block;
    margin: auto;
    
}
.Affinity {
    width: 25%;
    margin: 15px;
    padding: 20px 10px;
    background: #EC7744;
    border-radius: 15%;
}


.About{
    display:flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;

}

.About img{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(255, 255, 255);
}

p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.About p{
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.Skills{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.Skills p {
    width: 100%;
    text-align:left;
    margin:auto;
    line-height: 125%;
    font-family: 'Times New Roman', Times, serif;
    }